<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Precap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/precap-touch-icon-retina.png"/>
        <meta name="apple-mobile-web-app-title" content="Precap"/>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
		<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
    </head>

    <body class="Login">

    <%- body %>

    </body>
</html>
