<!DOCTYPE html>
<html>
    <head>
        <title>Precap (MooTools)</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/precap-touch-icon-retina.png"/>
        <meta name="apple-mobile-web-app-title" content="Precap"/>

        <link href="/stylesheets/precap-compiled.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
        <!--[if IE]>
        <link href="/stylesheets/precap-ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!--<script type="text/javascript" src="/js/socket.io.js"></script>
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>-->

        <script src="/js/libraries/mootools-core-1.4.5-nocompat.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/mootools-more-1.4.0.1-nocompat.js" type="text/javascript" charset="utf-8"></script>

        <script src="/js/libraries/mootools-markup-engine.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/mootools-markup-engine.markup.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/mootools-markup-engine.observables.js" type="text/javascript" charset="utf-8"></script>

        <script src="/js/libraries/Spinner.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/DatePicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/moment.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/mousetrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/libraries/howler/howler.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=true" type="text/javascript" charset="utf-8"></script>
        <script src="//api.filepicker.io/v1/filepicker.js"></script>

        <script src="/js/Precap.Core.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/EditableText.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/TimeRanger.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.App.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.Button.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.Checkbox.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.DatePicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.TextInput.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.Toolbar.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.SectionGap.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/Base.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/Note.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/Timeline.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/Location.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/List.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/AssetSet.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/PhotoSet.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/FileSet.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Section/Group.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.Document.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.BSheet.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.Send.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.DocumentChooser.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/Precap.Directory.js" type="text/javascript" charset="utf-8"></script>

    </head>

    <body>

    <%- body %>

    </body>
</html>
