
 		<ul class="DirectoryTabIndex" id="templateDirectoryTabIndex" data-list="letters">
 			<li data-bind="." style="display: inline;list-style-type: none;padding-right: 10px;"></li>
 		</ul>
 		<ul class="DirectoryList ContactList" id="templateDirectoryList" data-list="contacts">
 			<li class="vcard Contact Person DirectoryListItem" title="View this contact card...">
 				<div class="Avatar">&#160;</div>							
 				<span class="Name fn n">
 					<span data-bind="firstName"></span>
 					<span data-bind="lastName"></span>
 				</span>
 				<span class="Email"><a class="email" data-bind="email"></a></span>
 				<span class="Phone tel" data-bind="phone"></span>
 			</li>
 		</ul>
